<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroku App - Federica Mutti</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/landing-page.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Federica Mutti Heroku</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#description">Description</a>
                    </li>
                    <li>
                        <a href="#data">Data</a>
                    </li>
                    <li>
                        <a href="#model">Model</a>
                    </li>
                    <li>
                        <a href="#prediction">Prediction</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 style="color: #ffff00">CTT Prediction</h1>
                        <h1 style="color: #ffff00">for the North zone of Italy</h1>
{#                        <hr class="intro-divider">#}
{#                        <ul class="list-inline intro-social-buttons">#}
{#                            <li>#}
{#                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>#}
{#                            </li>#}
{#                        </ul>#}
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="description"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Death to the Stock Photo:<br>Special Thanks</h2>
                    <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../static/img/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <a  name="data"></a>
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">3D Device Mockups<br>by PSDCovers</h2>
                    <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../static/img/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    <a  name="prediction"></a>
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <form id="idForm" >
                      <div class="form-group">
                        <label for="formGroupExampleInput">Select a Month</label>
                          <select class="form-control" id="form_month">
                            <option value="Gennaio">Gennaio 2016</option>
                            <option value="Febbraio">Febbraio 2016</option>
                            <option value="Marzo">Marzo 2016</option>
                            <option value="Aprile">Aprile 2016</option>
                            <option value="Maggio">Maggio 2016</option>
                            <option value="Giugno">Giugno 2016</option>
                            <option value="Luglio">Luglio 2016</option>
                            <option value="Agosto">Agosto 2016</option>
                            <option value="Settembre">Settembre 2016</option>
                            <option value="Ottobre">Ottobre 2016</option>
                            <option value="Novembre">Novembre 2016</option>
                            <option value="Dicembre">Dicembre 2016</option>
                            <option value="Gennaio17">Gennaio 2017</option>
                            <option value="Febbraio17">Febbraio 2017</option>
                            <option value="Marzo17">Marzo 2017</option>

                          </select>
                      </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="myfirstchart" style="height: 250px;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="predicted_mean">

                    </div>
                </div>
                <div class="col-md-6">
                    <div id="real_mean">

                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <script>

        $("#idForm").submit(function(e) {
        $("#myfirstchart").empty();
        var url = "/predict"; // the script where you handle the form input.

        $.ajax({
               type: "POST",
               url: url + "?month=" + $( "#form_month" ).val() ,
               data: $("#idForm").serialize(), // serializes the form's elements.
               success: function(json)
               {
                   var value = JSON.parse(json)
                   $("#predicted_mean").html("<h2>Expected average CCT: " + value.predicted_mean+ " euro/MWh </h2> ");
                   $("#real_mean").html("<h2>Observed average CCT: " + value.mean_real+ " euro/MWh </h2>");

                    var chart = new Morris.Line({
                      // ID of the element in which to draw the chart.
                      element: 'myfirstchart',
                      data: value.data,
                      // Chart data records -- each entry in this array corresponds to a point on
                      // the chart.
                      // The name of the data record attribute that contains x-values.
                      xkey: 'date',
                      // A list of names of data record attributes that contain y-values.
                      ykeys: ['real', 'predicted'],
                      // Labels for the ykeys -- will be displayed when you hover over the
                      // chart.
                      labels: ['Observed Value', 'Predicted Value'],
                      lineColors: ['#555', '#ff0000']
                    });
               }
             });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });


    </script>

</body>

</html>
